@import url('https://fonts.googleapis.com/css?family=Yatra+One:100,200,300,400,500,600,700|Kalam:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.main-body {
    margin: 0 70px;
}

/*------------------------------ Navigation Section*/
nav{
    background-color: #f4a460;
    position: relative;
}

.navbar a {
    color: #000000;
}

.navbar-main a {
    margin-left: 50px;
}

/*------------------------------ Navigation Section*/
#myCarousel {
    height: 95vh;
    width: 100%;
}

#myCarousel img {
    height: 95vh;
    width: 100%;
}

.carousel-caption {
    background-color: rgb(0,1,1,0.4);
}

/*------------------------------ Description*/
.description {
    font-family: "Yatra+One", sans-serif;
    text-align: center;
    margin: 40px 0px;
}

.description p {
    font-family: "Kalam", sans-serif;
    margin: 40px 80px 80px;
    font-size: 20px;
    font-weight: 400;
}

/*------------------------------ Card Flip*/
.card-img{
    width: 350px;
    height: 450px;
}

.flip-card {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 350px;
    height: 450px;
}

/* This container is needed to position the front and back side */
.flip-card-in {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-in {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* The display for the back of the card */
.flip-back {
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #f8c8a0;
    color: #000000;
    transform: rotateY(180deg);
}

.btn-card {
    padding: 0 5px;
    position: absolute;
    color: black;
    right: 25%;
    bottom: 15px;
}

.btn-card a {
    color: #000000;
}

/*-----------------------------Footer Section*/
.footer-section {
    min-height: 150px;
    background-color: #f4a460;
    padding-top: 15px;
}

.footer-section a {
    text-decoration: none;
    color: #000000;
}

.footer-section a:hover {
    transform: scale(1.1);
    color: #000000;
    text-shadow: 1px 1px 1px #676767;
}

.quicklinks h4 {
    text-align: left;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.connect h4,
.mycv h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 700;
}

.social-logos,
.mycv {
    font-size: 40px;
    text-align: center;
}

.fa-file {
    font-size: 40px;
    padding-top: 10px;
}
